#div1{
    position:fixed;
    top: 20%;
    left: 50%;
    width:40em;
    height:30em;
    margin-top: -9em; /*set to a negative number 1/2 of your height*/
    margin-left: -15em; /*set to a negative number 1/2 of your width*/
    border: 1px solid #ccc;
    background-color: #f3f3f3;
}

/* "styles": [  
"../node_modules/ngx-bootstrap/datepicker/bs-datepicker.css",  
"styles.css"  
],  */