<section class="vh-100">
    <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
            <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                <form class="form-control" [formGroup]="loginFormGroup">
                    <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                        <h2>Log in</h2>
                    </div>

                    <div class="divider d-flex align-items-center my-4">
                        <p class="text-center fw-bold mx-3 mb-0"></p>
                    </div>

                    <div class="form-outline mb-4">
                        <label class="form-label" for="form3Example3">Username</label>
                        <input type="text" class="form-control form-control-lg" formControlName="username" >
                            <span class="text-danger"
                                *ngIf="(loginFormControl['username'].touched) && loginFormControl['username'].errors?.['required']">
                                Please enter FirstName
                            </span>
                    </div>

                    <div class="form-outline mb-3">
                        <label class="form-label" for="form3Example4">Password</label>
                        <input type="password" class="form-control form-control-lg" formControlName="password"  />
                        <span class="text-danger"
                        *ngIf="(loginFormControl['password'].touched) && loginFormControl['password'].errors?.['required']">
                        Please enter password
                    </span>
                    </div>
                    <!-- <span class="text-danger">{{msg}}</span> -->
                    <div class="text-center text-lg-start mt-4 pt-2">
                        <button type="submit" class="btn btn-primary btn-lg"
                            style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="login()" [disabled]="loginFormGroup.invalid">Login</button>
                            <button type="submit" class="btn btn-primary btn-lg"
                                style="padding-left: 2.5rem; padding-right: 2.5rem;" (click)="resetLogin()"
                                style="margin:5px">Reset</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>